extends ../layout.pug
include ../../mixins/publicaciones.pug


block estilo

block content

  div#ResumenDeBusquedas.fila
    div.res
      h1 Busqueda de: #{busqueda}
    div.res
      h1 Cantidad De Resultados: #{cantidad}

  each pub in publicaciones
    +publicaciones(pub,etiquetas)

  script.