/* Agrupamos ambas clases */
.navsinc, .navc {   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 50px;
    background-color: rgb(160, 160, 160);
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 5px;
    list-style: none;
}

.navsinc a, .navc a {
    color: rgb(0, 19, 61);
}

.navsinc a:hover, .navc a:hover {
    color: rgb(0, 102, 255);
}

.navsinc input, .navc input {
    width: 30vw;
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.navsinc #buscar, .navc #buscar {
    color: black;
}
.fila{
    display: flex;
    flex-direction: row;
}
.columna{
    display: flex;
    flex-direction: column;
}
#ResumenDeBusquedas {
    background-color: rgb(3, 7, 63);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

#ResumenDeBusquedas .res {
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(87, 3, 3, 0.4);
    padding: 5px 20px;
    text-align: center;
    min-width: 250px;
}

.publicaciones {
    border: 1px solid #000000;
    padding: 15px;
}

.publicaciones h1 {
    font-size: 22px;
    padding-bottom: 5px;
}
.publicaciones img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.apilarimagenes ul {
    display: flex;      
    flex-direction: row; 
    padding: 5px;
    margin: 0px 20px;
}

.apilarimagenes li {
    flex-shrink: 0;  
}
.publicacion{
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: row;
}
#publicacionparteuno,#publicacioncomentarios {
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: auto;
    border: 1px solid black;
    border-radius: 20px;
}