mixin navSinUsuario(className = "navsinc")
  ul(class=className)
    li
      a(href='/') Home
    li
      a(href='/explorar') Explorar
    li
      input#buscar(type="text", name="Buscar" placeholder="Buscar")
    li
      a#iniciar(href='/login') Iniciar Sesion
    li
      a#registrarse(href='/signup') Registrarse

  script.
    const buscar = document.querySelector("#buscar");
    buscar.addEventListener('keydown', (e) => {
      if (e.key === 'Enter') {
        window.location.href = `/Buscar/${buscar.value}`;
      }
    });